{% extends 'base.html.twig' %}

{% block title %}Page Not Found
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="alert alert-warning" role="alert">
			<h4 class="alert-heading">Page Not Found</h4>
			<p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
			<hr>
			<p class="mb-0">Please contact the administrator if you believe this is an error.</p>
		</div>
	</div>
{% endblock %}
