{% extends 'base.html.twig' %}

{% block title %}Accès refusé
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">Accès refusé</h4>
			<p>Vous n'avez pas les droits pour accéder à l'espace d'administration du site.</p>
			<hr>
			<p class="mb-0">Si vous pensez qu'il s'agit d'une erreur veuillez contacter l'administrateur du site.</p>
		</div>
	</div>
{% endblock %}
